<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{modalTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body modal-content-container">
    <p>temp</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<div class="pgsidebar-container" [class.pgsidebar-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="pgsidebar-toolbar">
    <div class="weblogo-container">
    </div>
<h1 class="pgsidebar-app-name">CST333 - Assignment 2</h1>
    <span class="label-icon-spacer"></span>
    <!--<mat-icon class="nav-mat-icon" matBadge={{unreadMsg}} matBadgeColor="warn" (click)="nnav.toggle()">email</mat-icon>-->
    <button mat-icon-button (click)="openModal(content,'Help')">
      <mat-icon class="mat-label-icon">help</mat-icon>
    </button>

  </mat-toolbar>
</div>
